<!DOCTYPE html>
<html lang="zh-CN">
    <head lang="en">
        <link href="/t/static/css/bootstrap.min.css", rel="stylesheet"/>
        <script src="/t/static/js/jquery-2.1.1.min.js"></script>
        <script src="/t/static/js/bootstrap.min.js"></script>
        <link href="/t/static/css/yellow_button.css", rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Book</title>
        <style>
            body{
                padding-top:30px;
            }
            .panelset{
                width: 800px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            .panelset1{
                padding-top:50px;
            }
            .formset{
            	width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body background="/static/images/bg0.jpg">
        <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="/myoj/" class="navbar-brand">HOME</a>
                </div>
                <div id="navbar1" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/myproblems/">PROBLEM</a></li>
                        <li><a href="/mystatus/">STATUS</a></li>
                        <li><div class="dropdown" style="padding-top: 10px;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                CONTEST
                                <span class="caret"></span>
                            </button>
                            <ul  class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" class="btn btn-sm active" role="menuitem">Add Contest</a></li>
                                <li><a href="#" class="btn btn-sm active" role="menuitem">Statistic</a></li>
                            </ul>
                        </div></li>
                    </ul>
                    <div style="padding-top: 10px;">
                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="btn btn-primary dropdown-toggle">Welcome {{username}}！</p></li>
                            <li><a href="/enter/">Enter MY OJ </a></li></li>
                            <li><a href="/logout/"> Logout </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
		<div class="container">
			<div class="panelset">
				<div class="panelset1">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h1 class="text-center"><b>{{problem.title}}</b></h1>
                            <br><p><b>Time Limit : {{problem.time_limit}} Memory Limit : {{problem.mem_limit}}</b></p>
						</div>
					</div>
                    <h1 class="text-left text-info">Description </h1>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <br/>
                            {% for des in descriptions %}
                                <p class="text-left">{{des}}</p>
                            {% endfor %}
                            {% for pic in pic_addr %}
                                <img src={{pic}} >
                            {% endfor %}
                            <br/>
                            <h3 class="text-left">Input  </h3>
                            <br/>
                            {% for input in inputs %}
                                <p class="text-left">{{input}}</p>
                            {% endfor %}
                            <br/>
                            <h3 class="text-left">Output  </h3>
                            <br/>
                            {% for output in outputs %}
                                <p class="text-left">{{output}}</p>
                            {% endfor %}
                            <br/>
                            <h3 class="text-left">Sample Intput  </h3>
                            <br/>
                            {% for input in sam_inputs %}
                                <p class="text-left">{{input}}</p>
                            {% endfor %}
                            <br/>
                            <h3 class="text-left">Sample Output  </h3>
                            <br/>
                            {% for output in sam_outputs %}
                                <p class="text-left">{{output}}</p>
                            {% endfor %}
                            <br/>
                        </div>
				    </div>
                </div>
			</div>
			<div class="formset">
                <a href="/mysubmitcode/?sid={{problem.SID}}&oj={{problem.OJ}}&title={{problem.title}}" class="btn btn-lg active col-md-offset-5 col-md-2" role="menuitem"></b>Submit</b></a>
			</div>
		</div>
	</body>
</html>