<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link href="/t/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/t/static/js/jquery.min.js"></script>
        <!-- Custom Theme files -->
        <link href="/t/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Owl Stylesheets -->
        <link rel="stylesheet" href="/t/static/css/flexslider.css" type="text/css" media="screen" />
    </head>
    <body>
        <nav  class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
				{% if Flag %}
				<ul class="nav navbar-nav navbar-right">
                    <li><p class="btn btn-primary dropdown-toggle">Welcome {{username}}！</p></li>
                    <li><a href="/enter/" class="btn btn-sm active ">Enter MY OJ </a></li></li>
                    <li><a href="/logout/" class="btn btn-sm active "> Logout </a></li>
                </ul>
				{% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login/" class="btn btn-sm active">LOGIN</a></li>
                    <li><a href="/regist/" class="btn btn-sm active">REGISTER</a></li>
                </ul>
				{% endif %}
            </div>
        </nav>
        <!-- header-section-starts -->
        <div class="header">
            <div class="container">
                <div class="strip">
                    <div class="logo">
                        <a class="active" href="/"><h1>OJ Home</h1></a>
                    </div>
                    <div class="top-menu">
                    <span class="menu"> </span>
                        <ul>
                            <li><a href="/problems/">Problem</a></li>
                            <li><a href="/status/">Status</a></li>
                            <li><a href="/contestlist/">Contest</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="mail">
                    <ul>
                        <li><i class="msg"></i></li>
                        <li><a href="mail-to:info@untitledsite.com">12345678900@163.com </a></li>
                        <li>/</li>
                        <li>123 456 7890</li>
                        <li><i class="phone"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slider-bg">
            <div class="container">
                <div class="grid-1">
                    <div class="col-md-6 left-grid-1">
                        <h3>Welcome To Online Judge ! </h3>
                        <p>“ The most splendid achievement of all is the constant striving to
                            surpass yourself and to be worthy of your own approval. This is how happiness blooms. ”</p>
                        <h3>- to youth </h3>
                    </div>
                    <div class="col-md-6 right-grid-1">
                        <section class="slider">
                                <div class="flexslider">
                                  <ul class="slides">
                                    <li>
                                        <img src="/t/static/images/pic1.jpg" class="img-responsive" alt="" />
                                        </li>
                                        <li>
                                        <img src="/t/static/images/pic2.jpg" class="img-responsive" alt="" />
                                        </li>
                                        <li>
                                        <img src="/t/static/images/pic3.jpg" class="img-responsive" alt="" />
                                        </li>
                                        <li>
                                        <img src="/t/static/images/pic1.jpg" class="img-responsive" alt="" />
                                        </li>
                                  </ul>
                                </div>
                              </section>
                              <!-- FlexSlider -->
                              <script defer src="/t/static/js/jquery.flexslider.js"></script>
                              <script type="text/javascript">
                                $(function(){
                                  SyntaxHighlighter.all();
                                });
                                $(window).load(function(){
                                  $('.flexslider').flexslider({
                                    animation: "slide",
                                    start: function(slider){
                                      $('body').removeClass('loading');
                                    }
                                  });
                                });
                              </script>
                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="grid-2">
            <div class="grid-2grids">
                <div class="container">
                    <div class="col-md-5 grid-2grid left-grid-2">
                        <h3>INTRODUCTION</h3>
                        <p>网站整体介绍</p>
                    </div>
                    <div class="col-md-2 middle-grid-2">
                        <img src="/t/static/images/more-bg.png" alt="" />
                        <div class="more">
                            <div class="info">
                                <a href="/">About Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 grid-2grid right-grid-2">
                        <h3>FUNCTION</h3>
                        <p>网站功能介绍，帮助了解如何操作网站 </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="grid-3">
            <div class="container">
                <div class="grid-3-head text-center">
                    <h3>NEWS </h3>
                </div>
                <div >
                    <div class="col-md-12 grid-3grid text-center">
                        <h4>ALL OJ NEWS</h4>
                        <p>You can see various OJ news here</p>



                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="info">
                                    <td>OJ </td>
                                    <td>News </td>
                                </tr>
                            </thead>
                            <tbody>            
                                <tr>
                                    <td> BNU </td>
                                    <td><a href="http://acm.bnu.edu.cn/v3/news.php" target="_blank">BNUOJ NEWS</a> </td>
                                </tr>
=                            </tbody>   
                        </table>


                        
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-4">
            <div class="container">
                <h3>OJ TOP 10 RANK</h3>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <td>rank </td>
                                <td>username </td>
                        </tr>
                        <form role="form" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <input type="submit" class="vbutton blue" name="Update" value="Newest Data">
                            </div>
                        </form>
                    </thead>
                    <tbody>            
                        {%for arank in rank_list%}
                            <tr>
                            {% for content in arank %}
                                <td>{{ content }} </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>   
                </table>
                <a href="/status/">More Info</a>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="copyright text-center">
                        <p>OJ Project - made by team 8 - finish in 2005 . 12 . 18</p>
                </div>
            </div>
        </div>
    </body>
</html>